*{ font-family: Arial, Helvetica, sans-serif }

h1 { margin: 0px; padding-top: 25px; padding-bottom: 10px; text-align: center; }

body
{
    margin: 0px;
    min-height: 100vh;
}

nav {
    height: 60px;
}

.nav-a
{
    display: inline-block;
}
.nav-p
{
    margin: 0px;
}

.nav-over-button
{
    border: none;
    height: 50px;
    min-width: 100px;
}

.welcome-flags
{
    display: inline-block;
    margin: 10px;
    padding: 10px 50px;
    height: 150px;
    width: 150px;
    text-align: center;    
}

.div-center
{
    width: 75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-all
{
    padding-top: 25px;
    margin: auto;
    text-align: center;
}
.content-item
{
   display: inline-block;
   margin: 25px;
   padding: 5px;
   width: 120px;
   text-align: center;
}
.content-item a img
{
    display: block;
    margin: auto;
    border: 0;
}
.content-item a p
{
    display: block;
    text-align: center;
}
#content
{

}

.c-w
{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 25px;
    padding-bottom: 25px; 
    display: flex;
}

@media screen and (max-width : 650px)
{
    .c-w
    {
        display: block;
    }
}


@media screen and (min-width : 800px)
{
    
}





.article
{
    margin-top: 15px;
    margin-bottom: 15px;
}


footer
{
    position: relative;
    margin-top: auto;
    margin-bottom: 0px;
    min-height: 100px;
}