nav
{
    background-color: black;
    color: yellow;
}

.a-nostyle
{
    text-decoration: none;
}


/*[HOVER]*/
.nav-a:hover
{
    background-color: rgb(30,30,30);
}
.nav-p:hover
{
    color:yellow;
}

.nav-over { background-color: rgb(35,35,35); }


.nav-fgc
{
    color: yellow;
}

.nav-p
{
    padding: 20px;
    font-weight: bold;
}

.lightgray
{
    background-color: #ECECEC;
}




footer
{
    background-color: rgb(35,35,35);
}